<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.scss" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a href="" class="header__logo">
                    <img src="./assets/logo.svg" alt="" />
                </a>
                <div class="button-mobile"><button>=</button></div>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a href="./index.html" class="main-menu__link">Home</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="" class="main-menu__link">Shop</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="" class="main-menu__link">About</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="" class="main-menu__link">Contact</a>
                        </li>
                    </ul>
                </nav>


                <div class="header-items">
                    <div class="header-item-user">
                        <i class="fa-solid fa-user-plus"></i>
                    </div>
                    <div class="header-item-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="header-item-wishlist">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="header-item-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!--End .header-->
    <section class="show">
        <div class="container">
            <div class="show-item">
                <div class="show-showing">
                    <div class="show-filter">
                        <div class="show-homeshop">
                            <div class="show-home">
                                <a href="" class="show__home">Home</a>
                                <img src="./assets/dashicons_arrow-up-alt2.svg" alt="" class="show__arrow">
                            </div>
                            <div class="show-home">
                                <a href="" class="show__home">Home</a>
                                <img src="./assets/dashicons_arrow-up-alt2.svg" alt="" class="show__arrow">
                            </div>
                        </div>

                    </div>
                    <div class="show-results">
                        <p class="show__asgaard">Asgaard sofa</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="detail">
        <div class="container">
            <div class="detail-product">
                <div class="detail-item">
                    <div class="detail-img">
                        <img src="./assets/Group 94.svg" alt="">
                        <img src="./assets/Group 98.svg" alt="">
                        <img src="./assets/Group 97.svg" alt="">
                        <img src="./assets/Group 96.svg" alt="">
                    </div>
                    <div class="detail-avatar">
                        <img src="./assets/Rectangle 38.svg" alt="">
                    </div>
                </div>
                <div class="detail-content">
                    <h1 class="detail-h1">Asgaard sofa</h1>
                    <div class="detail-price">
                        <span>25.000.000đ</span>
                    </div>
                    <div class="detail-review">
                        <img src="./assets/Group 88.svg" alt="" class="detail__star">
                        <div class="detail__customer">
                            <div class="detail__review">
                                <span class="">5 Customer Review</span>
                            </div>

                        </div>
                    </div>
                    <div class="detail-describe">
                        <span>Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact,
                            stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended
                            highs for a sound.
                        </span>
                    </div>
                    <div class="detail-size">
                        <div class="detail-heading">
                            <span>Size</span>
                        </div>
                        <div class="detail-body">
                            <div class="detail-select">
                                <div class="detail__L">
                                    <a href="" class="detail__text">L</a>
                                </div>
                                <div class="detail__L">
                                    <a href="" class="detail__text">XL</a>
                                </div>
                                <div class="detail__L">
                                    <a href="" class="detail__text">XS</a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="detail-color">
                        <div class="detail-heading">
                            <span>Color</span>
                        </div>
                        <div class="detail-body">
                            <div class="detail__color">
                                <div class="detail__red"></div>
                                <div class="detail__blue"></div>
                                <div class="detail__black"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-button">
                        <div class="detail-number">
                            <button class="detail__minus">-</button>
                            <div class="detail__number">1</div>
                            <button class="detail__minus">+</button>
                        </div>
                        <div class="detail-cart">
                            <button class="detail__add">Add To Cart</button>
                        </div>
                        <div class="detail-compare">

                            <div class="detail__compare">
                                <span class="detail__span">+</span>
                                <span>Compare</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="detail-end">
                        <div class="detail-sku">
                            <span>SKU</span>
                            <span>:</span>
                            <span>SS001</span>
                        </div>
                        <div class="detail-sku">
                            <span>Category</span>
                            <span>:</span>
                            <span>Sofas</span>
                        </div>
                        <div class="detail-sku">
                            <span>Tags</span>
                            <span>:</span>
                            <span>Sofa, Chair, Home, Shop</span>
                        </div>
                        <div class="detail-sku">
                            <span>Share</span>
                            <span>:</span>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-square-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="description">
        <div class="container">
            <div class="description-content">
                <div class="description-heading">
                    <a href="" class="description__hover">Description</a>
                    <a href="" class="description__hover">Additional Information</a>
                    <a href="" class="description__hover">Reviews [5]</a>
                </div>
                <div class="description-body">
                    <span>Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo speaker
                        takes the unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the
                        road.
                    </span><br>
                    <div class="description__text">
                        <span>Weighing in under 7 pounds, the Kilburn is a lightweight piece of
                            vintage styled engineering.
                            Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact,
                            stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended
                            highs
                            for a sound that is both articulate and pronounced. The analogue knobs allow you to fine
                            tune
                            the controls to your personal preferences while the guitar-influenced leather strap enables
                            easy
                            and stylish travel.
                        </span>
                    </div>

                </div>
                <div class="description-img">

                    <img src="./assets/Group 107.svg" alt="" class="description__img1">

                    <img src="./assets/Group 107.svg" alt="" class="description__img2">


                </div>
            </div>
            <div class="related">
                <h2>Related Products</h2>
            </div>
            <hr>
        </div>
    </div>

    <section class="news">
        <div class="container">
            <div class="section-body">
                <div class="product-list">
                    <div class="product-item">
                        <div class="product-image">
                            <img src="https://picsum.photos/id/10/300/300" alt="" class="product__thumbnail" />
                            <span class="product__sale">-50%</span>
                        </div>
                        <div class="product-info">
                            <h3 class="product__name">
                                <a href="" class="product__link">Syltherine</a>
                            </h3>
                            <a href="" class="product__category">Stylish cafe chair</a>
                            <div class="product-price">
                                <span class="product-price__new">2.500.000đ</span>
                                <span class="product-price__old">4.500.00đ</span>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="./chitietsp.html" class="product__linkdetail">Quick View</a>
                            <button class="btn product-action__addtocart">Add To Cart</button>
                            <div class="product-actions-more">
                                <i class="fa-solid fa-share-nodes"></i><span class="product-action__share">Share</span>
                                <i class="fa-solid fa-arrow-right-arrow-left"></i><span
                                    class="product-action__compare">Compare</span>
                                <i class="fa-regular fa-heart"></i><span class="product-action__like">Like</span>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                    <div class="product-item">
                        <div class="product-image">
                            <img src="https://picsum.photos/id/10/300/300" alt="" class="product__thumbnail" />
                            <span class="product__new">New</span>
                        </div>
                        <div class="product-info">
                            <h3 class="product__name">
                                <a href="" class="product__link">Syltherine</a>
                            </h3>
                            <a href="" class="product__category">Stylish cafe chair</a>
                            <div class="product-price">
                                <span class="product-price__new">2.500.000đ</span>
                                <span class="product-price__old">4.500.00đ</span>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="./chitietsp.html" class="product__linkdetail">Quick View</a>
                            <button class="btn product-action__addtocart">Add To Cart</button>
                            <div class="product-actions-more">
                                <i class="fa-solid fa-share-nodes"></i><span class="product-action__share">Share</span>
                                <i class="fa-solid fa-arrow-right-arrow-left"></i><span
                                    class="product-action__compare">Compare</span>
                                <i class="fa-regular fa-heart"></i><span class="product-action__like">Like</span>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                    <div class="product-item">
                        <div class="product-image">
                            <img src="https://picsum.photos/id/10/300/300" alt="" class="product__thumbnail" />
                            <span class="product__sale">-50%</span>
                        </div>
                        <div class="product-info">
                            <h3 class="product__name">
                                <a href="" class="product__link">Syltherine</a>
                            </h3>
                            <a href="" class="product__category">Stylish cafe chair</a>
                            <div class="product-price">
                                <span class="product-price__new">2.500.000đ</span>
                                <span class="product-price__old">4.500.00đ</span>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="./chitietsp.html" class="product__linkdetail">Quick View</a>
                            <button class="btn product-action__addtocart">Add To Cart</button>
                            <div class="product-actions-more">
                                <i class="fa-solid fa-share-nodes"></i><span class="product-action__share">Share</span>
                                <i class="fa-solid fa-arrow-right-arrow-left"></i><span
                                    class="product-action__compare">Compare</span>
                                <i class="fa-regular fa-heart"></i><span class="product-action__like">Like</span>
                            </div>
                        </div>

                    </div>
                    <!--End .product-item-->
                    <div class="product-item">
                        <div class="product-image">
                            <img src="https://picsum.photos/id/10/300/300" alt="" class="product__thumbnail" />
                            <span class="product__sale">-50%</span>
                        </div>
                        <div class="product-info">
                            <h3 class="product__name">
                                <a href="" class="product__link">Syltherine</a>
                            </h3>
                            <a href="" class="product__category">Stylish cafe chair</a>
                            <div class="product-price">
                                <span class="product-price__new">2.500.000đ</span>
                                <span class="product-price__old">4.500.00đ</span>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="./chitietsp.html" class="product__linkdetail">Quick View</a>
                            <button class="btn product-action__addtocart">Add To Cart</button>
                            <div class="product-actions-more">
                                <i class="fa-solid fa-share-nodes"></i><span class="product-action__share">Share</span>
                                <i class="fa-solid fa-arrow-right-arrow-left"></i><span
                                    class="product-action__compare">Compare</span>
                                <i class="fa-regular fa-heart"></i><span class="product-action__like">Like</span>
                            </div>
                        </div>
                    </div>
                    <!--End .product-item-->
                </div>

            </div>
            <div class="showmore">
                <div class="showmore-link">
                    <a href="" class="showmore__a">Show More</a>
                </div>

            </div>
            <hr>
        </div>
    </section>


    <!--End .services-->
    <footer>
        <div class="container">
            <div class="footer-list">
                <div class="footer-item">
                    <h2 class="footer__funiro">Funiro.</h2>
                    <p class="footer__p">400 University Drive Suite 200 Coral Gables, FL 33134 USA</p>
                </div>
                <div class="footer-nav">
                    <div class="footer-item">
                        <h2 class="footer__titel">Links</h2>
                        <ul class="footer-menu-list">
                            <li class="footer-menu-item">
                                <a href="./index.html" class="footer-menu-link">Home</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Shop</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Blog</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <h2 class="footer__titel">Help</h2>
                        <ul class="footer-menu-list">
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Payment Options</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Returns</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">BlogPrivacy Policies</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer-item">
                    <h2 class="footer__titel">Newsletter</h2>
                    <form action="" class="newsletter">
                        <input type="text" class="newsletter__input" placeholder="Enter Your Email Address" />
                        <button class="newsletter__btn">SUBSCRIBE</button>
                    </form>
                </div>
            </div>
            <p class="copyright">2023 furino. All rights reverved</p>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>